= form_with model: @user, url: user_settings_avatar_path, id: 'setting-avatar-form', method: :put do |f|
  = f.hidden_field :avatar
  = f.hidden_field :avatar_cache
  = f.submit class: 'modal-button neo neo-btn'
