/li.user-menu-item= link_to 'プロフィール編集', edit_user_profile_path(current_user), class: "neo neo-btn user-menu-link"
li.user-menu-item= link_to 'profile', user_settings_profile_path, class: "neo neo-btn user-menu-link"
/li.user-menu-item= link_to 'ユーザ編集', edit_user_path(current_user), class: "neo neo-btn user-menu-link"
li.user-menu-item= link_to 'account', user_settings_account_path, class: "neo neo-btn user-menu-link"
/li.user-menu-item= link_to 'ログアウト', logout_path, method: :delete, class: "neo neo-btn user-menu-link"
