@import "custom";
@import "base";
@import "neo";
@import "calender";

$bg-color: rgba(230,232,238, 1);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sofia-pro, sans-serif;
  font-style: normal;
  font-weight: 500;
}

textarea {
  outline: none;
  border: none;
  resize: none;
}

body {
  background-color: rgba(230,232,238, 1);
}

a {
  white-space: nowrap;
}

.svg {
  text-align: center;
  transform: translateY(0.6rem);
  // display: block;
  &-rotate {
    transform: rotate(180deg) translateY(-0.6rem);
  }
}

// .profile {
//   width: 12%;

//   &-image {
//     width: 150px;
//     height: 150px;
//     &-svg {
//       display: block;
//       margin: auto;
//       transform: translateY(20px);
//     }
//   }
//   &-detail {
//     overflow-wrap: break-word;
//   }
//   &-list {
//     margin-top: 30px;
//     &-item {
//       margin-top: 50px;
//     }
//   }
//   &-link {
//     display: inline-block;
//     width: 100%;
//     text-align: center;
//   }
// }

.user {
  .user-sidebar {
    position: relative;
    padding: 10px 30px;
    margin-right: 15px;
    .user-image-box {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 220px;
      height: 220px;
      .user-image {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        .user-image-svg {
          display: block;
          margin: auto;
          transform: translateY(20px);
        }
      }
    }
    .user-profile {
      padding: 10px 20px;
      overflow-wrap: break-word;
      margin-bottom: 20px;
    }
    .user-menu {
      width: 100%;
      .user-menu-item {
        width: 180px;
        margin-inline: auto;
        margin-top: 10px;
        .user-menu-link {
          display: inline-block;
          width: 100%;
          text-align: center;
        }
      }
      .calender {
        margin: 0;
        // position: absolute;
        // bottom: 30px;
      }
    }

  }
  .user-main-container {
    height: 100%;
    width: 100%;
    padding: 30px;
    overflow-y: scroll;

    #search_content_user_form {
      display: inline-block;
      margin-left: 60px;
      #search-content-form {
        padding: 2px !important;
        border-radius: 8px;
      }
    }
    .content-list {
      &-header {
        min-width: 100%;
        width: 100%;
        max-width: 100%;
        margin: 15px;
      }
      &-image {
        width: 40px;
        height: 40px;
        border-radius: 4px;
        margin-left: 45px;
        &-svg {
          display: block;
          margin: auto;
          transform: translateY(10px);
        }
      }
    }
  }
}

.header {
  &-user {
    &-link {
      width: 70px;
      height: 70px;
    }
    &-svg {
      transform: translate(-5px, -5px);
    }
  }
}

.auth-form {
  padding: 100px;
  min-height: 600px;
  width: 600px;

  .form-group {

    // label {
    // }
    input[type="text"], input[type="email"], input[type="password"] {
      font-size: 1rem;
      border: none;
      background-color: $bg-color;
      border-radius: 8px;
      width: 100%;
      padding: 10px 20px;
      margin-top: 20px;
      margin-bottom: 50px;
      outline: none
    }
    input[type="checkbox"] {
      // background-color: $bg-color;
      margin-left: 20px;
      width: 20px;
      height: 20px;
      appearance: none;
      border-radius: 4px;
      &:checked {
        appearance: auto;
      }
    }
  }
  input[type="submit"] {
    padding: 10px;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .auth-link {
    color: gray;
    &:hover {
      color: skyblue;
    }
    &:active {
      color: blue;
    }
  }
}

.categories {
  &-list {
    display: flex;
    margin-bottom: 15px;
    margin-left: 10px;
    .category-name {
      margin-right: 20px;
      padding: 0;
    }
    #category-name {
      padding: 12px;
      border-radius: 4px;
    }
    .category-name-svg {
      transform: translateY(0.3rem);
      margin-right: 10px;
    }
    &-item {
      margin-right: 15px;
      .category-link {
          padding: 15px;
        .categories-svg {
          margin-top: 10px;
          transform: translateY(25%);
        }
      }
    }
    #category-show-form, #own_memo_search_form, #search_content_category_form {
      margin-left: 15px;
      form {
        padding: 2px;
        border-radius: 8px;
      }
      input[type="text"] {
        // font-size: 1rem;
        border: none;
        background-color: $bg-color;
        border-radius: 8px;
        padding: 10px 20px;
        outline: none;
      }
      input[type="submit"] {
        padding: 10px;
      }
    }
  }
}

.memos {
  &-list {
    display: flex;
    margin-bottom: 15px;
    .memo-title {
      margin-right: 20px;
      padding: 0;
    }
    #memo-title {
      margin-left: 10px;
      padding: 12px;
      border-radius: 4px;
    }
    .memo-status {
      padding: 12px;
      border-radius: 4px;
    }
    .memo-name-svg {
      transform: translateY(0.3rem);
      margin-right: 10px;
    }
    &-item {
      margin-inline: 20px;
      .memo-link {
        padding: 15px;
        .memos-svg {
          margin-top: 12px;
          transform: translateY(25%);
        }
      }
    }
    #memo-show-form {
      margin-left: 20px;
      form {
        margin-top: 16px;
        padding: 2px;
        border-radius: 8px;
      }
      input[type="text"] {
        // font-size: 1rem;
        border: none;
        background-color: $bg-color;
        border-radius: 8px;
        padding: 10px 20px;
        outline: none;
      }
      input[type="submit"] {
        padding: 10px;
      }
    }
  }
  .memo-container {
    position: relative;
    padding: 30px;
  }
  .index-memo-container {
    position: relative;
    padding: 30px;
    // min-height: 100%;
  }
  .memo-body {
    padding: 30px;
    margin-inline: auto;
    width: 750px;
    height: 100%;
    overflow-y: scroll;

    // &::-webkit-scrollbar {
    //   display: none;
    // }
  }
  .memo-tags {
    position: absolute;
    top: 30px;
    left: 30px;
    width: 150px;
    &-item {
      width: 100%;
      border-radius: 4px;
      margin-top: 10px;
      padding: 5px 10px;
    }
  }

  .memo-impression {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 150px;
    &-item {
      width: 100%;
      border-radius: 4px;
      margin-bottom: 10px;
      padding: 5px 20px;
    }
  }
  #bookmark {
    width: 50px;
    height: 50px;
    padding: 0;
    svg, img {
      transform: translate(-10px, 10px);
    }
  }
  .memo-form {
    height: calc(100% - 75px);
    .memo-title {
      padding: 0;
      margin-top: 3px;
      margin-bottom: 12px;

      #memo-title {
        display: flex;
        padding: 3px;
        border-radius: 10px;
        .memo-name-svg {
          margin-top: 5px;
          margin-left: 10px;
        }
      }
    }
    .memo-form-container {
      position: relative;
      padding: 30px;
      height: 100%;
      .tag_list {
        position: absolute;
        top: 30px;
        left: 30px;
        width: 150px;
        #tag_texts {
          width: 100%;
          padding-top: 10px;
          div {
            width: 100%;
            border-radius: 4px;
            margin-bottom: 10px;
            padding: 5px 10px;
          }
        }
        .tag-input-box {
          width: 100%;
          padding: 2px;
          margin-top: 15px;
          border-radius: 10px;
        }
        #tag_input {
          width: 100%;
          // font-size: 1rem;
          border: none;
          background-color: $bg-color;
          border-radius: 8px;
          padding: 10px;
          outline: none;
        }
      }
      .status_list {
        position: absolute;
        top: 30px;
        right: 30px;
        width: 230px;
        // &-item {
        //   width: 100%;
        //   border-radius: 4px;
        //   margin-bottom: 10px;
        //   padding: 5px 20px;
        // }
        .complete-status, .public-status {
          display: flex;
          justify-content: space-between;
          margin-bottom: 10px;
          select {
            width: 120px;
          }
        }
      }
    }
    #memo-body {
      width: 750px;
      height: 100%;
      margin-inline: auto;
    }
    input[type="text"] {
      // font-size: 1rem;
      border: none;
      background-color: $bg-color;
      border-radius: 8px;
      padding: 10px 20px;
      width: 100%;
      outline: none;
    }
    textarea {
      background-color: $bg-color;
      border: none;
      outline: none;
      padding: 30px 30px;
      margin: 0 auto;
      width: 750px;
      border-radius: 20px;
      height: 100%;
      resize: none;
    }
    input[type="submit"] {
      margin-top: 30px;
    }
  }
}



.neo-card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
  max-height: 100%;

  &::before{
    order:1;
  }

  &::before, &::after, .dummy {
    content: "";
    display: block;
    width: 300px;
    margin-inline: auto;
  }

  .neo-card {
    width: 300px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin: 15px auto;
    border-radius: 8px;

    &:hover {
      box-shadow:  inset 1px 1px 5px $neo-color-t,
                   inset -1px -1px 5px $neo-color-b,
                    -10px -10px 16px $neo-color-t,
                    10px 10px 16px $neo-color-b;
    }
  }
}

.neo-hr {
  width: 100%;
  height: 10px;
  // border-radius: 10px;
}

// #tag-select-form {
//   margin-left: auto;
//   form {
//     margin-top: 16px;
//     padding: 2px;
//     border-radius: 8px;
//   }
//   input[type="text"] {
//     // font-size: 1rem;
//     border: none;
//     background-color: $bg-color;
//     border-radius: 8px;
//     padding: 10px 20px;
//     outline: none;
//   }
//   input[type="submit"] {
//     padding: 10px;
//   }
// }

// 検索ボタン
// 同様のデザインが多いのであとでまとめる
#search-content-form {
  form {
    margin-top: 16px;
    padding: 2px;
    border-radius: 8px;
  }
  input[type="text"] {
    // font-size: 1rem;
    border: none;
    background-color: $bg-color;
    border-radius: 8px;
    padding: 10px 20px;
    outline: none;
  }
  input[type="submit"] {
    padding: 10px;
  }
}

.bookmark {
  fill: black;
  width: 30px;
  height: 30px;
}

.mind-card-list {
  padding-left: 50px;
  padding-right: 50px;
  margin-left: 300px;
  margin-top: 50px;

  .mind-card {
    min-width: 200px;
    width: 200px;
    height: 50px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 300px;
    border-radius: 8px;
    padding: 20px;
    z-index: 100;

    &:hover {
      box-shadow:  inset 1px 1px 5px $neo-color-t,
                   inset -1px -1px 5px $neo-color-b,
                    -10px -10px 16px $neo-color-t,
                    10px 10px 16px $neo-color-b;
    }
  }


}

.mind-card-list {
  display: flex;
  zoom: 75%;
  .category-group {
    display: flex;
  }
  .memo-group {
    .mind-card {
      margin-bottom: 30px;
    }
  }
}

body {
  position: relative;
}
.minds-svg {
  width: 100%;
  zoom: 75%;

  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.search-back {
  position: absolute;
  bottom: 30px;
  left: 30px;
  padding: 0;
  height: 50px;
  width: 50px;
  .svg-rotate {
    transform: rotate(180deg) translate(-10px ,-0.6rem);
  }
}
